body {
  margin: 0;
  padding: 0;
}
canvas {
  width: 100%;
  height: 100%;
  background-color: #2d3142;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
